<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="5" status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_ERR">
            <JsonLayout compact="true" eventEol="true"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="com.solactive" level="warn" additivity="false">
            <AppenderRef ref="Console" />
        </Logger>
    </Loggers>
</Configuration>
